Options -Indexes

# Optionally you can disable 'display errors'
php_flag display_errors On

# Cross-Origin Resource Sharing (CORS).
<IfModule mod_headers.c>
  # Header set Access-Control-Allow-Origin http://DOMAIN-NAME.com:PORT
  Header set Access-Control-Allow-Credentials true
  Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
  Header add Access-Control-Allow-Headers: "Content-Type"
  Header add Access-Control-Allow-Headers: "Authorization"
</IfModule>
